import java.util.Scanner;

public class Bankaccount 
{
	static int escolha1;
	static private double saldo;
	static Bankaccount user = new Bankaccount();
	static Scanner ler = new Scanner(System.in);
	
    static String welcome = "Bem vindo ao Banco X\n\nO que deseja?\n\n1_Depósito\n2_Saque\n3_Consulta de saldo\n4_Sair\n";  
    static String msgerror = "\nERROR: limite sua escolha a umas das 4 opções";
    String msgsaldo = "\nSaldo atual: R$ ";
    static String msgcont = "\nMais alguma transação?\n\n[Yes]\n[No]\n\n";
  
public Bankaccount()
	{
		saldo = 0;
	}
  
public Bankaccount(double saldoInicial)
	{
		saldo = saldoInicial;
	}
  
public void deposit(double valor)
	{
		double newSaldo = saldo + valor;
		saldo = newSaldo;
	}
  
public void saque(double valor)
	{
		double newSaldo = saldo - valor;
		saldo = newSaldo;
	}

public double consultaSaldo()
	{
		return saldo;
	}

public void processDeposit(int escolha)
	{
		if (escolha == 1)
		{
			System.out.print("\nInsira o valor do depósito: R$ ");
			double deposito = ler.nextDouble();
			user.deposit(deposito);
			System.out.println(msgsaldo + user.consultaSaldo() + "\n----------------------1");
		}
     
		else if(escolha == 2)
		{
			System.out.print("\nInsira o valor do saque: R$ ");
			//if(user.consultaSaldo())
			double saque = ler.nextDouble();
			user.saque(saque);
			System.out.println(msgsaldo + user.consultaSaldo() + "\n----------------------");
		}
      
		else if(escolha == 3)
		{
			System.out.println(msgsaldo + saldo);
  
		}
      
		else if(escolha == 4)
		{
			System.out.println("\nAgradecemos sua visita");
			System.exit(0);
		}

		else
		{
			System.out.println(msgerror + welcome);
		}
	}
  
public static void main(String[] args)
	{
		while(true)
		{
			System.out.println(welcome);
   
			escolha1 = ler.nextInt();
    
			user.processDeposit(escolha1);
 
			System.out.printf(msgcont);
			
			String continua = ler.next();
 
			if("Yes".equals(continua))
			{
				System.out.println("----------------------");
			}

			else if("No".equals(continua))
			{
				return;
			}
	
			else
			{
				System.out.println(msgerror);
			}
		}  
	}
}
