import java.util.Scanner;

public class Bank
{
	int escolha1;
	private double saldo;
	Bank user = new Bank();
	Scanner ler = new Scanner(System.in);
	
    String welcome = "Bem vindo ao Banco X\n\nO que deseja?\n\n1_Depósito\n2_Saque\n3_Consulta de saldo\n4_Sair\n";  
    String msgerror = "\nERROR: limite sua escolha a umas das 4 opções";
    String msgsaldo = "\nSaldo atual: R$ ";
  
    public Bank()
	{
		saldo = 0;
	}
  
    public Bank(double saldoInicial)
    {
		saldo = saldoInicial;
	}
  
    public void deposit(double valor)
	{
		double newSaldo = saldo + valor;
		saldo = newSaldo;
	}
  
    public void saque(double valor)
	{
		double newSaldo = saldo - valor;
		saldo = newSaldo;
	}

    public double consultaSaldo()
	{
		return saldo;
	}

    public void processDeposit(int escolha)

	{
		if (escolha == 1)
		{
			System.out.print("\nInsira o valor do depósito: R$ ");
			double deposito1 = ler.nextDouble();
			if(deposito1 < 0)
			{
				System.out.println("\nNão possível fazer a transação. MOTIVO: valor do depósito menor que 0.");
				return;
			}
			user.deposit(deposito1);
			System.out.println(msgsaldo + user.consultaSaldo() + "\n----------------------");
		}
     
		else if(escolha == 2)
		{
			System.out.print("\nInsira o valor do saque: R$ ");
			double saque1 = ler.nextDouble();
			if(saque1 > saldo)
			{
				System.out.println("\nNão possível fazer a transação. MOTIVO: valor do saque maior que seu saldo atual.");
				return;
			}
			user.saque(saque1);
			System.out.println(msgsaldo + user.consultaSaldo() + "\n----------------------");
		}
      
		else if(escolha == 3)
		{
			System.out.println(msgsaldo + saldo);
  
		}
      
		else if(escolha == 4)
		{
			System.out.println("\nAgradecemos sua visita");
			System.exit(0);
		}

		else
		{
			System.out.println(msgerror + welcome);
		}
		
	}

}

public class Banco
{
    static Bank user1 = new Bank();
    static int escolha1;
    static Scanner ler1 = new Scanner(System.in);
	 
    static String welcome = "Bem vindo ao Banco X\n\nO que deseja? 1_Cadastrar\n2_Logar";  
    static String msgerror = "\nERROR: limite sua escolha a umas das 4 opções";
    String msgsaldo = "\nSaldo atual: R$ ";
    static String msgcont = "\nMais alguma transação?\n\n[Yes]\n[No]\n\n";

    public static void main(String[] args)
    {
		while(true)
		{
			System.out.println(welcome);
   
			escolha1 = ler1.nextInt();
    
			user1.processDeposit(escolha1);
 
			System.out.printf(msgcont);
			
			String continua = ler1.next();
 
			if("Yes".equals(continua))
				System.out.println("----------------------");

			else if("No".equals(continua))
				return;
	
			else
				System.out.println(msgerror);
		}
	}
}
